.page-header
  h1 Edit content

- form_for(content, {action: path_to.content(content), method: 'PUT', id: "content_form"}, function (form) {
  != partial('contents/form.jade', {locals: {form: form, content: content}})
  .actions
    != form.submit('Update content', {class: 'btn primary'})
    span= ' or '
    != link_to('Cancel', path_to.content(content), {class: 'btn'})
- });
