.page-header
  h1 Index of content

.row
  .span12
      p!= link_to ('<i class="icon-plus icon-white"></i> New content', path_to.new_content(), {class: 'btn btn-primary'})
      if contents.length > 0
        table.table.table-striped
          thead
            tr
              th ID
              th Actions
            tbody
              - contents.forEach(function (content) {
                tr
                  td
                    strong!= link_to('content #' + content.id, path_to.content(content))
                  td
                    != link_to('<i class="icon-edit icon-white"></i> Edit', path_to.edit_content(content), {class: 'btn btn-mini btn-primary'}) + ' '
                    != link_to('<i class="icon-remove icon-white"></i> Delete', path_to.content(content), {class: 'btn btn-mini btn-danger', method: 'delete', remote: true, jsonp: '(function (u) {location.href = u;})'})
              - });
      else
        p.alert.alert-block.alert-info
          strong No contents were found.