.page-header
  h1 Edit exercise_def

- form_for(exercise_def, {action: path_to.exercise_def(exercise_def), method: 'PUT', id: "exercise_def_form"}, function (form) {
  != partial('exercise_defs/form.jade', {locals: {form: form, exercise_def: exercise_def}})
  .actions
    != form.submit('Update exercise_def', {class: 'btn primary'})
    span= ' or '
    != link_to('Cancel', path_to.exercise_def(exercise_def), {class: 'btn'})
- });
