.page-header
  h1 Edit technology

- form_for(technology, {action: path_to.technology(technology), method: 'PUT', id: "technology_form"}, function (form) {
  != partial('technologies/form.jade', {locals: {form: form, technology: technology}})
  .actions
    != form.submit('Update technology', {class: 'btn primary'})
    span= ' or '
    != link_to('Cancel', path_to.technology(technology), {class: 'btn'})
- });
