!!! 5
html
  head
    title= title
    != stylesheet_link_tag('bootstrap', 'style', 'bootstrap-responsive')
    != csrf_meta_tag()
  body
    != body
    != javascript_include_tag('http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', 'bootstrap', 'rails', 'application')